[submodule "VTKHelpers"]
	path = VTKHelpers
	url = https://github.com/daviddoria/VTKHelpers.git
[submodule "ITKVTKHelpers"]
	path = ITKVTKHelpers
	url = https://github.com/daviddoria/ITKVTKHelpers.git
[submodule "ScribbleInteractorStyle"]
	path = ScribbleInteractorStyle
	url = https://github.com/daviddoria/ScribbleInteractorStyle.git
[submodule "ITKVTKCamera"]
	path = ITKVTKCamera
	url = https://github.com/daviddoria/ITKVTKCamera.git
[submodule "ImageGraphCutSegmentation"]
	path = ImageGraphCutSegmentation
	url = https://github.com/daviddoria/ImageGraphCutSegmentation.git
