[submodule "VTKHelpers"]
	path = VTKHelpers
	url = git@github.com:daviddoria/VTKHelpers.git
[submodule "ITKVTKHelpers"]
	path = ITKVTKHelpers
	url = git@github.com:daviddoria/ITKVTKHelpers.git
[submodule "Mask"]
	path = Mask
	url = git@github.com:daviddoria/Mask.git
[submodule "ScribbleInteractorStyle"]
	path = ScribbleInteractorStyle
	url = git@github.com:daviddoria/ScribbleInteractorStyle.git
